@font-face {
  font-family: 'Antonio-Regular';
  src: local('Antonio-Regular'),
    url(../../assets/antonio/Antonio-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Antonio-Light';
  src: local('Antonio-Light'),
    url(../../assets/antonio/Antonio-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Antonio-Bold';
  src: local('Antonio-Bold'),
    url(../../assets/antonio/Antonio-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins-Black';
  src: local('Poppins-Black'),
    url(../../assets/poppins/Poppins-Black.otf) format('opentype');
}
@font-face {
  font-family: 'Poppins-Bold';
  src: local('Poppins-Bold'),
    url(../../assets/poppins/Poppins-Bold.otf) format('opentype');
}
@font-face {
  font-family: 'Poppins-ExtraBold';
  src: local('Poppins-ExtraBold'),
    url(../../assets/poppins/Poppins-ExtraBold.otf) format('opentype');
}
@font-face {
  font-family: 'Poppins-ExtraLight';
  src: local('Poppins-ExtraLight'),
    url(../../assets/poppins/Poppins-ExtraLight.otf) format('opentype');
}
@font-face {
  font-family: 'Poppins-Light';
  src: local('Poppins-Light'),
    url(../../assets/poppins/Poppins-Light.otf) format('opentype');
}
@font-face {
  font-family: 'Poppins-Medium';
  src: local('Poppins-Thin'),
    url(../../assets/poppins/Poppins-Medium.otf) format('opentype');
}
@font-face {
  font-family: 'Poppins-Regular';
  src: local('Poppins-Regular'),
    url(../../assets/poppins/Poppins-Regular.otf) format('opentype');
}
@font-face {
  font-family: 'Poppins-Thin';
  src: local('Poppins-Thin'),
    url(../../assets/poppins/Poppins-Thin.otf) format('opentype');
}
